html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }

.wrapper {
  width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

@media (min-width: 768px) {
  .wrapper {
    width: 768px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 1230px) {
  .wrapper {
    width: 1230px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto; }
    .wrapper--nowrap {
      width: 100%; } }

.header {
  background-color: #070e15;
  padding-top: 20px;
  background-size: cover; }

.header__logo {
  text-align: center;
  padding-bottom: 20px; }

.header__callback {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px; }

.header__callback-phone {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  letter-spacing: 0.48px;
  text-decoration: none;
  color: #ffffff; }

.header__callback-text {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.48px;
  color: #08e8de;
  text-decoration: underline; }

.header__subtitle {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #08e8de;
  text-align: center;
  text-shadow: 0px 0px 43px #08e8de;
  padding-bottom: 20px; }

.header__basket {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header__basket-sum {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 0.48px;
  color: #2d2d2d;
  background-color: #08e8de;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 17px;
  margin-bottom: 3px; }

.header__basket-icon {
  position: relative;
  width: 30px;
  height: 32px; }

.header__basket-count {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0.48px;
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #08e8de;
  right: -5px;
  top: 0;
  z-index: 1; }

.header__basket-svg {
  width: 33px;
  height: 30px; }

.header__basket-link {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 12px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.48px;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.header__basket-svg {
  color: #4b565a; }

.header__bottom {
  padding-bottom: 20px; }

@media (min-width: 768px) {
  .header__top {
    padding-bottom: 10px; }
  .header__top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    z-index: 10; }
  .header__logo {
    height: 80px;
    width: 20%;
    padding-bottom: 0; }
  .main-logo-svg {
    width: 150px;
    height: 70px; }
  .header__top-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%; }
  .header__subtitle {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding-bottom: 5px; }
  .header__callback {
    padding-bottom: 0; }
  .header__basket {
    width: 140px;
    margin: 0; } }

@media (min-width: 1230px) {
  .header__logo {
    width: 150px;
    height: 52px;
    margin-right: 40px; }
  .header__top-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto; }
  .header__subtitle {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 18px; }
  .header__callback {
    margin-right: 83px; }
  .header__callback-phone {
    font-size: 18px;
    line-height: 30px;
    padding-top: 6px; }
  .header__top-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .header__basket {
    margin-left: auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .header__basket-link {
    text-align: right; } }

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 20px;
  position: relative;
  z-index: 10; }

.nav__item {
  text-align: center; }

.nav__link {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.48px;
  color: #ffffff;
  text-align: left;
  position: relative;
  z-index: 10;
  text-decoration: none;
  padding-bottom: 3px; }
  .nav__link--promo {
    color: #c32727; }
  .nav__link--active {
    border-bottom: 1px solid #08e8de; }

.nav__how-order {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.48px;
  color: #08e8de;
  -ms-flex-item-align: center;
      align-self: center;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -1px 0 0 #08e8de;
          box-shadow: inset 0 -1px 0 0 #08e8de;
  position: relative;
  z-index: 11; }

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

@media (min-width: 768px) {
  .nav {
    border-top: 1px solid #3f454b;
    padding-top: 20px;
    position: relative;
    z-index: 11; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav__how-order {
    margin-left: auto; } }

@media (min-width: 1230px) {
  .nav__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .nav__list {
    width: 800px; }
  .nav__how-order {
    -ms-flex-item-align: start;
        align-self: flex-start; } }

.slider {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: relative;
  z-index: 9;
  background-color: #070e15; }

.slider__bg {
  position: absolute;
  background-image: url("../img/bg-slider-mobile2.png");
  background-size: auto 100%;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 400px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.6; }

.slider__container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  min-height: 400px;
  position: relative;
  z-index: 10; }

.slider__title {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
  padding: 0;
  margin: 0;
  padding-bottom: 20px; }

.slider__subtitle {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.48px;
  color: #08e8de;
  padding: 0;
  margin: 0;
  padding-bottom: 20px; }

.slider__btn {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 25px;
  font-weight: 600;
  letter-spacing: 0.48px;
  color: #2d2d2d;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #08e8de;
  padding-left: 10px;
  padding-right: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: auto; }

@media (min-width: 768px) {
  .slider__title {
    font-size: 30px;
    width: 400px; }
  .slider__btn {
    margin: 0; }
  .slider__container {
    z-index: 12; }
  .slider__bg {
    min-height: 470px;
    background-image: url("../img/bg-slide1.png");
    z-index: 11;
    opacity: 1; } }

@media (min-width: 1230px) {
  .slider {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#090f16), color-stop(#12171e), color-stop(#181e26), color-stop(#1e262e), to(#242d37));
    background-image: linear-gradient(to bottom, #090f16, #12171e, #181e26, #1e262e, #242d37); }
  .slider__container {
    padding-top: 0; }
  .slider__bg {
    min-height: 570px;
    background-image: url("../img/bg-slide1.png");
    z-index: 11;
    opacity: 1; }
  .slider__title {
    font-size: 36px; }
  .slider__subtitle {
    font-size: 18px; }
  .slider__btn {
    font-size: 18px;
    line-height: 51px; } }

.advantages {
  background-color: #242424;
  padding-top: 30px;
  background-image: url("../img/bg-geometry_black.png");
  padding-bottom: 30px;
  background-position: top center; }

.advatages__title {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: #08e8de;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  text-align: center; }

.main-logo {
  width: 300px;
  height: 76px; }

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 25px; }

.advantages__item {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.48px;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }
  .advantages__item::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 150px;
    background-color: #28c4bd; }

.advantages__text-decoration {
  font-weight: 600; }
  .advantages__text-decoration--upercase {
    text-transform: uppercase; }

.advantages__main-logo {
  text-align: center; }
  .advantages__main-logo svg {
    fill: white; }

@media (min-width: 768px) {
  .advantages {
    padding-top: 40px;
    padding-bottom: 40px; }
  .advatages__title {
    font-size: 20px;
    padding-bottom: 44px;
    text-align: left; }
  .advantages__item {
    padding-top: 0;
    font-size: 15.5px;
    text-align: left;
    padding-left: 20px; }
    .advantages__item::before {
      left: 0;
      width: 8px;
      height: 8px;
      top: 4px; } }

@media (min-width: 1230px) {
  .advantages {
    padding-top: 65px;
    padding-bottom: 60px;
    background-size: cover; }
  .advatages__title {
    font-size: 30px;
    padding-left: 35px;
    padding-bottom: 45px; }
  .advantages__list {
    padding-left: 167px;
    padding-bottom: 10px; }
  .advantages__item {
    font-size: 18px;
    padding-bottom: 24px; }
    .advantages__item::before {
      top: 6px; } }

.products {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px; }

.products__title {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: #2d2d2d;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 20px; }

.products__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.products__item {
  margin-bottom: 40px;
  position: relative; }
  .products__item::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-color: #08e8de;
    border-left: 2px solid #b6b6b6;
    border-top: 2px solid #b6b6b6;
    left: 25px;
    top: 0px;
    z-index: 11; }

.products__item-title {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.48px;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 12px;
  position: relative; }
  .products__item-title::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-color: #08e8de;
    border-left: 2px solid #b6b6b6;
    border-bottom: 2px solid #b6b6b6;
    left: 25px;
    bottom: 0px;
    z-index: 11; }
  .products__item-title::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-color: #08e8de;
    border-right: 2px solid #b6b6b6;
    border-bottom: 2px solid #b6b6b6;
    right: 25px;
    bottom: 0px;
    z-index: 11; }

.products__img-container {
  width: 245px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(-45deg, #212121 80%, #ffffff 80%);
  margin-bottom: 20px;
  position: relative; }
  .products__img-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#08e8de, transparent 1px), linear-gradient(90deg, #08e8de, transparent 1px);
    background-size: 70px 70px;
    background-position: center center;
    z-index: 0; }
  .products__img-container--hidden {
    overflow: hidden; }
  .products__img-container::after {
    content: "";
    position: absolute;
    border: 90px solid transparent;
    border-right: 90px solid white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    left: -90px;
    top: -90px;
    z-index: 1; }

.products__item-img {
  position: relative;
  z-index: 10;
  width: 280px; }

@media (min-width: 768px) {
  .products {
    padding-top: 40px; }
  .products__title {
    font-size: 30px;
    padding-bottom: 65px; }
  .products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .products__item {
    width: 220px; }
    .products__item::after {
      left: 0; }
  .products__item-title {
    padding-left: 18px;
    padding-right: 18px; }
    .products__item-title::before {
      right: 0; }
    .products__item-title::after {
      left: 0; }
  .products__img-container {
    width: 200px;
    height: 270px;
    position: relative; }
  .products__item-img {
    width: 220px;
    position: absolute;
    bottom: 0; } }

@media (min-width: 1230px) {
  .products {
    padding-top: 88px;
    padding-bottom: 100px; }
  .products__title {
    font-size: 36px; }
  .products__list {
    padding-left: 70px;
    padding-right: 70px; }
  .products__item {
    width: 246px; }
  .products__img-container {
    width: 246px;
    height: 349px;
    position: relative; }
    .products__img-container::after {
      content: "";
      position: absolute;
      border: 90px solid transparent;
      border-right: 90px solid white;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      left: -90px;
      top: -90px;
      z-index: 1; }
  .products__item-img {
    width: 273px;
    z-index: 10; }
  .products__item-img--bodyarmor {
    bottom: -10px; }
  .products__item-img--complect {
    left: -30px;
    width: 300px;
    bottom: -2px; } }

.description {
  background-image: url("../img/bg-description-1.png");
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 30px;
  position: relative;
  background-color: #242424;
  z-index: 10; }
  .description::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 587px;
    background-image: url("../img/bg-products-helmets.png");
    z-index: 1;
    bottom: 0;
    opacity: 0.3; }

.description__block {
  padding-bottom: 40px; }
  .description__block--armor {
    border-bottom: 1px solid #08e8de; }
  .description__block--helmets {
    padding-top: 40px; }

.description__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2; }

.description__title {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.48px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 20px; }

.description__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px; }

.description__item-text {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 14.56px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.48px;
  padding-left: 20px;
  padding-bottom: 3px;
  margin-bottom: 5px;
  position: relative; }
  .description__item-text--unic {
    color: #08e8de; }
  .description__item-text::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #08e8de;
    left: 0;
    top: 5px; }

.description__img-container {
  width: 245px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
  .description__img-container img {
    width: 100%;
    height: auto; }

.description__btn {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 51px;
  font-weight: 300;
  letter-spacing: 0.48px;
  color: #08e8de;
  text-decoration: none;
  border: 1px solid #08e8de;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 768px) {
  .description::after {
    height: 560px;
    background-size: cover; }
  .description__title {
    font-size: 30px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 70px; }
  .description__block {
    position: relative;
    z-index: 10; }
  .description__list--armor {
    padding-bottom: 40px; }
    .description__list--armor .description__item-text {
      position: absolute;
      padding-left: 0; }
      .description__list--armor .description__item-text::before {
        border-radius: 50%;
        width: 6px;
        height: 6px;
        left: auto; }
      .description__list--armor .description__item-text::after {
        content: "";
        position: absolute;
        width: 300px;
        height: 30px;
        background-repeat: no-repeat;
        top: 0;
        left: 0; }
      .description__list--armor .description__item-text:nth-child(1) {
        top: -10px;
        right: 70px; }
        .description__list--armor .description__item-text:nth-child(1)::before {
          top: 44px;
          right: 260px; }
        .description__list--armor .description__item-text:nth-child(1)::after {
          background-image: url("../img/bodyarm-line-1.png");
          left: -30px;
          top: 20px; }
      .description__list--armor .description__item-text:nth-child(2) {
        top: 60px;
        right: 30px; }
        .description__list--armor .description__item-text:nth-child(2)::before {
          top: 66px;
          right: 317px; }
        .description__list--armor .description__item-text:nth-child(2)::after {
          background-image: url("../img/bodyarm-line-2.png");
          left: -125px;
          top: 20px;
          width: 350px;
          height: 50px; }
      .description__list--armor .description__item-text:nth-child(3) {
        top: 110px;
        right: 93px; }
        .description__list--armor .description__item-text:nth-child(3)::before {
          top: 97px;
          right: 273px; }
        .description__list--armor .description__item-text:nth-child(3)::after {
          background-image: url("../img/bodyarm-line-3.png");
          left: -145px;
          top: 20px;
          width: 350px;
          height: 90px; }
      .description__list--armor .description__item-text:nth-child(4) {
        top: 160px;
        right: 13px; }
        .description__list--armor .description__item-text:nth-child(4)::before {
          top: 70px;
          right: 300px; }
        .description__list--armor .description__item-text:nth-child(4)::after {
          background-image: url("../img/bodyarm-line-4.png");
          left: -90px;
          top: 20px;
          width: 300px;
          height: 90px; }
      .description__list--armor .description__item-text:nth-child(5) {
        top: 250px;
        right: 23px; }
        .description__list--armor .description__item-text:nth-child(5)::before {
          top: -35px;
          right: 400px; }
        .description__list--armor .description__item-text:nth-child(5)::after {
          background-image: url("../img/bodyarm-line-5.png");
          left: -200px;
          top: -35px;
          width: 400px;
          height: 90px; }
      .description__list--armor .description__item-text:nth-child(6) {
        top: 300px;
        right: 85px; }
        .description__list--armor .description__item-text:nth-child(6)::before {
          top: -35px;
          right: 333px; }
        .description__list--armor .description__item-text:nth-child(6)::after {
          background-image: url("../img/bodyarm-line-6.png");
          left: -100px;
          top: -35px;
          width: 400px;
          height: 90px; }
  .description__list--helmets {
    padding-bottom: 40px; }
    .description__list--helmets .description__item-text {
      position: absolute;
      padding-left: 0; }
      .description__list--helmets .description__item-text::before {
        left: auto;
        width: 6px;
        height: 6px;
        border-radius: 50%; }
      .description__list--helmets .description__item-text::after {
        content: "";
        position: absolute;
        width: 300px;
        height: 30px;
        background-repeat: no-repeat;
        top: 0;
        left: 0; }
      .description__list--helmets .description__item-text:nth-child(1) {
        top: -50px;
        left: 145px; }
        .description__list--helmets .description__item-text:nth-child(1)::before {
          top: 73px;
          left: 295px; }
        .description__list--helmets .description__item-text:nth-child(1)::after {
          background-image: url("../img/helmets-line-1.png");
          top: 20px;
          height: 60px;
          left: 0; }
      .description__list--helmets .description__item-text:nth-child(2) {
        top: -5px;
        left: 140px; }
        .description__list--helmets .description__item-text:nth-child(2)::before {
          top: 77px;
          left: 189px; }
        .description__list--helmets .description__item-text:nth-child(2)::after {
          background-image: url("../img/helmets-line-2.png");
          top: 20px;
          height: 60px;
          left: 0; }
      .description__list--helmets .description__item-text:nth-child(3) {
        top: 65px;
        left: 0; }
        .description__list--helmets .description__item-text:nth-child(3)::before {
          top: 77px;
          left: 189px; }
        .description__list--helmets .description__item-text:nth-child(3)::after {
          background-image: url("../img/helmets-line-3.png");
          top: 20px;
          height: 60px;
          left: 0; }
      .description__list--helmets .description__item-text:nth-child(4) {
        top: 200px;
        left: 0; }
        .description__list--helmets .description__item-text:nth-child(4)::before {
          top: 5px;
          left: 295px; }
        .description__list--helmets .description__item-text:nth-child(4)::after {
          background-image: url("../img/helmets-line-4.png");
          top: 5px;
          height: 60px;
          left: 0; }
      .description__list--helmets .description__item-text:nth-child(5) {
        top: 269px;
        left: -20px;
        width: 280px; }
        .description__list--helmets .description__item-text:nth-child(5)::before {
          top: -16px;
          left: 320px; }
        .description__list--helmets .description__item-text:nth-child(5)::after {
          background-image: url("../img/helmets-line-5.png");
          top: -15px;
          height: 60px;
          left: 0;
          width: 400px; } }

@media (min-width: 1230px) {
  .description {
    padding-top: 0;
    border-bottom: 1px solid #08e8de;
    position: relative; }
    .description::after {
      content: none; }
  .description__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .description__item--armor {
    padding-right: 300px; }
  .description__block--armor {
    padding-top: 80px;
    border-bottom: 0;
    position: relative;
    margin-left: auto;
    width: 600px; }
  .description__list--armor {
    position: absolute;
    width: 500px;
    top: -2px;
    left: 10px; }
  .description__list--helmets {
    padding: 0;
    margin: 0; }
  .description__block--helmets {
    padding-top: 464px;
    margin-right: auto;
    width: 570px; }
    .description__block--helmets .description__title {
      text-align: right; }
  .description__title {
    padding-left: 0;
    padding-right: 0;
    font-size: 36px;
    text-align: left; }
  .description__img-container--helmets {
    width: 325px;
    height: 266px;
    margin-right: 70px;
    margin-bottom: 60px; }
  .description__block-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .description__block-container:nth-child(2)::before {
      content: "";
      position: absolute;
      width: 66%;
      height: 1040px;
      background-image: url("../img/helmets-bg-figure.png");
      background-size: cover;
      background-position-x: left;
      background-position-y: top;
      top: 0;
      right: 0;
      z-index: 1; } }

.additional {
  background-image: url("../img/bg-additional.png");
  background-position: top center;
  background-size: cover;
  background-color: #5e7186;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative; }
  .additional::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0; }

.additional__title {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
  z-index: 10; }

.additional__list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  z-index: 10; }

.additional__item {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px; }

.additional__img {
  width: 100%;
  height: auto;
  border: 1px solid #08e8de;
  padding: 3px; }

.additional__btn {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 51px;
  font-weight: 300;
  letter-spacing: 0.48px;
  color: #08e8de;
  text-decoration: none;
  border: 1px solid #08e8de;
  padding: 0 15px;
  text-align: center;
  display: block;
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 10; }

@media (min-width: 768px) {
  .additional__title {
    font-size: 30px; }
  .additional__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 40px; }
  .additional__item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .additional__item {
    padding: 0;
    width: auto; }
  .additional__img {
    width: 230px;
    height: 150px;
    border: none;
    padding: 0; }
    .additional__img--center {
      height: auto; } }

@media (min-width: 1230px) {
  .additional {
    padding-top: 100px;
    padding-bottom: 100px; }
  .additional__title {
    font-size: 36px;
    padding-left: 100px;
    padding-right: 100px; }
  .additional__list {
    padding-left: 110px;
    padding-right: 110px; }
  .additional__item-wrap {
    height: 440px; }
  .additional__item {
    margin-bottom: 5px; }
  .additional__img {
    width: 100%;
    height: auto; }
  .additional__btn {
    position: absolute;
    bottom: 70px;
    left: 200px; } }

.clients__container {
  padding-top: 30px;
  background-color: #242424; }
  .clients__container--alt {
    background-color: #ffffff; }

.clients__count {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 30px; }

.clients__count-dec {
  color: #08e8de;
  display: block; }

.clients__title {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.48px;
  color: #2d2d2d;
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase; }

.clients__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.clients__item {
  padding-bottom: 30px; }

.clients__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 150px;
  height: 60px; }

.clients__item-title {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.48px;
  text-align: center;
  padding: 0;
  margin: 0; }

.clients__description {
  background-color: #242424;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../img/bg-clients-armor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative; }
  .clients__description::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1d1e1f;
    opacity: 0.8;
    top: 0;
    left: 0; }

.clients__description-title {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
  width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1; }

.clients__description-list {
  padding: 0;
  margin: 0;
  list-style: none; }

.clients__description-item {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.48px;
  color: #ffffff;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 80px;
  position: relative; }
  .clients__description-item::before {
    content: "";
    position: absolute; }
  .clients__description-item:nth-child(1)::before {
    width: 60px;
    height: 70px;
    background-image: url("../img/clients__description-1.png");
    background-repeat: no-repeat;
    top: 0;
    left: 42%; }
  .clients__description-item:nth-child(2)::before {
    width: 60px;
    height: 70px;
    background-image: url("../img/clients__description-2.png");
    background-repeat: no-repeat;
    top: 0;
    left: 42%; }
  .clients__description-item:nth-child(3)::before {
    width: 70px;
    height: 70px;
    background-image: url("../img/clients__description-3.png");
    background-repeat: no-repeat;
    top: 0;
    left: 40%; }

@media (min-width: 768px) {
  .clients__container {
    background-image: url("../img/bg-clients-geometria.png");
    padding-top: 105px;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50% 100%; }
    .clients__container--alt {
      padding-bottom: 100px;
      background-image: none; }
  .clients__count {
    padding-bottom: 100px;
    padding-left: 90px;
    padding-right: 90px; }
  .clients__count-dec {
    display: inline; }
  .clients__title {
    font-size: 30px;
    padding-bottom: 60px; }
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .clients__logo {
    width: 130px;
    display: block; }
  .clients__item-title {
    font-size: 16px; }
  .clients__description {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative; }
  .clients__description-title {
    font-size: 30px;
    width: 500px;
    position: relative;
    z-index: 10; }
  .clients__description-item {
    padding-top: 0;
    text-align: left;
    padding-left: 75px;
    padding-top: 12px;
    padding-bottom: 30px;
    border-bottom: 1px solid #565657;
    margin-right: 0px;
    margin-bottom: 20px;
    font-size: 16px; }
    .clients__description-item:nth-child(1)::before {
      left: 0;
      width: 51px;
      height: 63px; }
    .clients__description-item:nth-child(2) {
      padding-top: 25px; }
      .clients__description-item:nth-child(2)::before {
        left: 0;
        width: 66px;
        height: 66px; }
    .clients__description-item:nth-child(3) {
      padding-top: 25px; }
      .clients__description-item:nth-child(3)::before {
        left: -5px;
        width: 64px;
        height: 67px; } }

@media (min-width: 1230px) {
  .clients__count {
    font-size: 24px;
    width: 649px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto; }
  .clients__description-item {
    width: 900px;
    margin-left: auto;
    margin-right: auto; } }

.request {
  padding-top: 30px;
  background-color: #394958;
  background-image: url("../img/bg-request.png"), url("../img/bg-request-1.png");
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 2;
  padding-bottom: 60px; }
  .request::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1d1e1f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2c3840), color-stop(#242d33), color-stop(#1c2327), color-stop(#15191b), to(#0b0e0f));
    background-image: linear-gradient(to bottom, #2c3840, #242d33, #1c2327, #15191b, #0b0e0f);
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: 1; }

.request__title {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.48px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 30px;
  position: relative;
  z-index: 2; }

.request__form {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.request__input {
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 30px;
  width: 100%; }
  .request__input::-webkit-input-placeholder {
    font-family: "Geometria", "Arial", "sans-serif";
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.48px;
    color: #ffffff;
    opacity: 0.5; }
  .request__input::-ms-input-placeholder {
    font-family: "Geometria", "Arial", "sans-serif";
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.48px;
    color: #ffffff;
    opacity: 0.5; }
  .request__input::placeholder {
    font-family: "Geometria", "Arial", "sans-serif";
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.48px;
    color: #ffffff;
    opacity: 0.5; }

.request__textarea {
  background-color: transparent;
  border-color: #ffffff;
  margin-bottom: 30px;
  min-height: 200px;
  padding: 12px 20px; }
  .request__textarea::-webkit-input-placeholder {
    font-family: "Geometria", "Arial", "sans-serif";
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.48px;
    color: #ffffff;
    opacity: 0.5; }
  .request__textarea::-ms-input-placeholder {
    font-family: "Geometria", "Arial", "sans-serif";
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.48px;
    color: #ffffff;
    opacity: 0.5; }
  .request__textarea::placeholder {
    font-family: "Geometria", "Arial", "sans-serif";
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.48px;
    color: #ffffff;
    opacity: 0.5; }

.request__submit {
  font-family: "Geometria", "Arial", "sans-serif";
  font-size: 23.8px;
  line-height: 51px;
  font-weight: 400;
  letter-spacing: 0.48px;
  color: #2d2d2d;
  background-color: #08e8de;
  position: relative;
  z-index: 2;
  border: none; }

@media (min-width: 768px) {
  .request__title {
    font-size: 30px;
    text-align: center; }
  .request__form {
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 1230px) {
  .request__form {
    width: 737px; } }

.btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.btn-decoration {
  position: relative; }

.btn-corner {
  width: 1px;
  height: 1px; }
  .btn-corner::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    border-color: #08e8de; }
  .btn-corner::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    border-color: #08e8de; }
  .btn-corner--left::before {
    border-left: 1px solid #08e8de;
    border-top: 1px solid #08e8de;
    left: -5px;
    top: -5px; }
  .btn-corner--left::after {
    border-left: 1px solid #08e8de;
    border-bottom: 1px solid #08e8de;
    left: -5px;
    bottom: -5px; }
  .btn-corner--right::before {
    border-right: 1px solid #08e8de;
    border-top: 1px solid #08e8de;
    right: -5px;
    top: -5px; }
  .btn-corner--right::after {
    border-right: 1px solid #08e8de;
    border-bottom: 1px solid #08e8de;
    right: -5px;
    bottom: -5px; }

@media (min-width: 1230px) {
  .btn-corner--left::before {
    left: -10px;
    top: -10px; }
  .btn-corner--left::after {
    left: -10px;
    bottom: -10px; }
  .btn-corner--right::before {
    right: -10px;
    top: -10px; }
  .btn-corner--right::after {
    right: -10px;
    bottom: -10px; } }

body {
  background-color: grey; }
