.about {
  background-color: #040f20;
}

.about__main {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../img/bg-about-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.about__title {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: $color1;
  letter-spacing: $main-spacing;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
}

.about__main-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.about__main-item-title {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: $main-spacing;
  padding-bottom: 10px;
  color: $color1;
}

.about__main-item-text {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 30px;
  font-weight: 300;
  color: $white;
}

.about__numbers {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../img/bg-about-numbers.jpg");
  background-size: cover;
}

.about__nubmers-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.about__numbers-item {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 30px;
  font-weight: 300;
  color: $white;
  text-align: center;
  padding-top: 80px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    top: -30px;
    left: 85px;
  }

  &:nth-child(1) {
    &::before {
      background-image: url("../img/icon-about-num-1.png");
    }
  }

  &:nth-child(2) {
    &::before {
      background-image: url("../img/icon-about-num-2.png");
    }
  }

  &:nth-child(3) {
    &::before {
      background-image: url("../img/icon-about-num-3.png");
    }
  }

  &:nth-child(4) {
    &::before {
      background-image: url("../img/icon-about-num-4.png");
    }
  }

  &:nth-child(5) {
    &::before {
      background-image: url("../img/icon-about-num-5.png");
    }
  }

  &:nth-child(6) {
    &::before {
      background-image: url("../img/icon-about-num-6.png");
    }
  }
}

.about__tech {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../img/bg-about-tech.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-top: 1px solid rgba($color: $white, $alpha: 0.2);
}

.about__tech-text {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 30px;
  font-weight: 300;
  color: $white;
}

.about__sureness {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../img/bg-about-sureness.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  border-top: 1px solid rgba($color: $white, $alpha: 0.2);
}

.about__sureness-text {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 30px;
  font-weight: 300;
  color: $white;
}

.about__control {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../img/bg-about-control.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-top: 1px solid rgba($color: $white, $alpha: 0.2);
}

.sphere-logo {
  width: 250px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about__control-text {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 30px;
  font-weight: 300;
  color: $white;
}

.about__callback {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../img/bg-about-callback.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #2c353b, #242b2f, #1b2024, #131719, #070a0c);
    top: 0;
    left: 0;
    opacity: 0.92;
  }
}

.about__callback-title {
  color: $white;
}

.about__call-link {
  font-family: $font;
  display: block;
  width: 260px;
  font-size: 11.86px;
  line-height: 30.81px;
  letter-spacing: $main-spacing;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $color1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: $black;
  margin-bottom: 20px;
}

.about__call-text {
  display: block;
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 15px;
  line-height: 1.2;
  padding-bottom: 30px;
  font-weight: 300;
  color: $white;
  text-align: center;
}

@media (min-width: $tablet) {
  .about__main {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about__title {
    font-size: 24px;
    padding-bottom: 50px;
  }

  .about__main-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about__main-item {
    width: 48%;
  }

  .about__numbers {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about__nubmers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about__numbers-item {
    width: 48%;
    font-size: 18px;

    &::before {
      left: 115px;
      background-size: cover;
    }
  }

  .about__tech {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about__tech-text {
    font-size: 18px;
  }

  .about__sureness {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about__sureness-text {
    font-size: 18px;
  }

  .about__control {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about__control-text {
    font-size: 18px;
  }

  .about__callback {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .sphere-logo {
    width: 300px;
  }
}

@media (min-width: $desktop) {
  .about__title {
    font-size: 30px;
  }

  .about__main-item-title {
    font-size: 20px;
  }

  .about__main-item {
    width: 520px;
  }

  .about__main-item-text {
    font-size: 14px;
    text-align: left;
  }

  .about__numbers {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .about__numbers-item {
    padding-top: 25px;
    padding-bottom: 30px;
    text-align: left;
    padding-left: 80px;
    padding-bottom: 45px;
    padding-right: 110px;

    &::before {
      left: -30px;
      top: -25px;
    }

    &:nth-child(5) {
      &::before {
        top: -10px;
      }
    }
  }

  .about__tech {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .about__tech-text {
    font-size: 20px;
  }

  .about__sureness {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .about__sureness-text {
    font-size: 20px;
  }

  .about__control {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .about__control-text {
    font-size: 20px;
  }


  .about__callback-title {
    padding-top: 30px;
    border-top: 1px dashed rgba($color: $color5, $alpha: 0.15);
    margin-left: 5px;
    margin-right: 5px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 21px;
      height: 21px;
      border-top: 1px solid $color5;
      border-left: 1px solid $color5;
      left: -30px;
      top: -1px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 21px;
      height: 21px;
      border-top: 1px solid $color5;
      border-right: 1px solid $color5;
      right: -30px;
      top: -1px;
    }
  }

  .about__callback-container {
    border-bottom: 1px dashed rgba($color: $color5, $alpha: 0.15);
    margin-left: 5px;
    margin-right: 5px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 21px;
      height: 21px;
      border-bottom: 1px solid $color5;
      border-left: 1px solid $color5;
      left: -30px;
      bottom: -1px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 21px;
      height: 21px;
      border-bottom: 1px solid $color5;
      border-right: 1px solid $color5;
      right: -30px;
      bottom: -1px;
    }
  }

  .about__call-text {
    font-size: 18px;
    padding-bottom: 50px;
  }

  .about__callback-wrap {

    &::before {
      content: "";
      position: absolute;
      left: 5px;
      height: 180px;
      width: 1px;
      border-left: 1px dashed rgba($color: $color5, $alpha: 0.15);
      top: 30px;
    }


    &::after {
      content: "";
      position: absolute;
      right: 5px;
      height: 180px;
      width: 1px;
      border-right: 1px dashed rgba($color: $color5, $alpha: 0.15);
      top: 30px;
    }
  }
}
