.additional {
  background-image: url("../img/bg-additional.png");
  background-position: top center;
  background-size: cover;
  background-color: #5e7186;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    top: 0;
    left: 0;
  }
}

.additional__title {
  font-family: $font;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: $main-spacing;
  text-transform: uppercase;
  color: $color-text;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
  z-index: 10;
}

.additional__list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  z-index: 10;
}

.additional__item {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

.additional__img {
  width: 100%;
  height: auto;
  border: 1px solid $color1;
  padding: 3px;
}

.additional__btn {
  font-family: $font;
  font-size: 16px;
  line-height: 51px;
  font-weight: 300;
  letter-spacing: $main-spacing;
  color: $color1;
  text-decoration: none;
  border: 1px solid $color1;
  padding: 0 15px;
  text-align: center;
  display: block;
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 10;
}

@media (min-width: $tablet) {
  .additional__title {
    font-size: 30px;
  }

  .additional__list {
    display: flex;
    padding-bottom: 40px;
  }

  .additional__item-wrap {
    display: flex;
    flex-direction: column;
  }

  .additional__item {
    padding: 0;
    width: auto;
  }

  .additional__img {
    width: 230px;
    height: 150px;
    border: none;
    padding: 0;

    &--center {
      height: auto;
    }
  }
}

@media (min-width: $desktop) {
  .additional {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .additional__title {
    font-size: 36px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .additional__list {
    padding-left: 110px;
    padding-right: 110px;
  }

  .additional__item-wrap {
    height: 440px;
  }

  .additional__item {
    margin-bottom: 5px;
  }

  .additional__img {
    width: 100%;
    height: auto;
  }

  .additional__btn {
    position: absolute;
    bottom: 70px;
    left: 200px;
  }
}
