.block {
  padding-top: 45px;
}

.block__title {
  padding: 0;
  margin: 0;
  font-family: $decfont;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  color: $font-color-2;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
}

.block__title-dec {
  color: $color-1;
}

.block__text-title {
  padding: 0;
  margin: 0;
  font-family: $decfont;
  font-size: 28px;
  line-height: 35px;
  font-weight: 400;
  color: $color-1;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 13px;
}

.block__text-subtitle {
  padding: 0;
  margin: 0;
  font-family: $decfont;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: $font-color-1;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 25px;
}

.block__text {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: $font-color-1;
  padding-bottom: 25px;
}

.block__btn {
  font-family: $decfont;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: $font-color-1;
  text-decoration: none;
  display: block;
  width: 200px;
  border: 1px solid $white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.block__text-container {
  padding: 30px 20px;
  background-color: $color-2;
  position: relative;
}

.block__type {
  display: flex;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  margin-bottom: 30px;

}

.block__type-btn {
  padding: 0;
  margin: 0;
  font-family: $decfont;
  font-size: 28px;
  line-height: 35px;
  font-weight: 300;
  color: $font-color-2;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 13px;
  flex-grow: 1;
  border-bottom: 2px solid $white;

  &--active {
    color: $color-1;
    border-bottom: 2px solid $color-1;
  }
}


@media (min-width: $tablet) {
  .block__item {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;

    &--left {
      .block__text-container {
        order: -1;
      }
    }
  }

  .block__img-container {
    width: 50%;
  }

  .block__text-container {
    width: 50%;

    &::before {
      content: "";
      position: absolute;
      border: 30px solid transparent;
      border-right: 30px solid $color-2;
      left: -60px;
      top: 30px;
    }
  }

  .block__item--left {
    .block__text-container::before {
      border: 30px solid transparent;
      border-left: 30px solid $color-2;
      left: auto;
      right: -60px;
    }
  }

  .block__wrap {
    display: flex;
  }


  .block__wrap--left {
    .block__text-container {
      order: -1;

      &::before {
        border: 30px solid transparent;
        border-left: 30px solid $color-2;
        left: auto;
        right: -60px;
      }
    }
  }
}
