.conntect {
  max-width: 515px;
}

.connect__title {
  padding: 0;
  margin: 0;
  font-family: $decfont;
  font-size: 28px;
  line-height: 35px;
  font-weight: bold;
  text-transform: uppercase;
  color: $font-color-1;
  padding-bottom: 30px;
}

.contect__subtitle {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: $font-color-1;
  padding-bottom: 10px;
}

.connect__form-item {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ffffff;
  display: flex;
  max-width: 270px;
}

.connect__form-input {
  font-family: $font;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: $font-color-1;
  background-color: transparent;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  width: 90%;
}

.connect__form-btn {
  padding: 0;
  margin: 0;
  width: 8%;
  height: 20px;
  background-image: url("../img/icon-arrow.svg");
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.connect__form-input::placeholder {
  font-family: $font;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: $font-color-1;
}

.conntect__consent {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 10px;
  line-height: 100%;
  font-weight: 300;
  color: $font-color-1;
}

.conntect__consent-link {
  font-family: $font;
  font-size: 10px;
  line-height: 100%;
  font-weight: 300;
  color: $font-color-1;
  text-decoration: underline;
}

@media (min-width: $desktop) {
  .conntect--noindex {
    width: 40%;
  }
}
