.footer {
  background-color: #0e1114;
  padding-top: 30px;
}

.footer__logo {
  margin-left: auto;
  margin-right: auto;
  width: 125px;
  margin-bottom: 30px;
}

.footer-logo-svg {
  width: 125px;
  height: 52px;
}


.footer__order {
  display: flex;
  justify-content: space-around;
}

.footer__basket-container {
  display: flex;
  justify-content: center;
}

.footer__callback-phone {
  font-family: $font;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  letter-spacing: $main-spacing;
  text-decoration: underline;
  color: $color-text;
}

.footer__basket-sum {
  font-family: $font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: $main-spacing;
  color: $color-text-alt;
  background-color: $color1;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  align-self: center;
  margin-right: 5px;
  margin-bottom: 3px;
}

.footer__basket-svg {
  width: 20px;
  height: 18px;
  color: #4b565a;
}

@media (min-width: $tablet) {
  .footer__container {
    display: flex;
  }

  .footer__logo {
    margin-bottom: 0;
    margin-right: 50px;
  }

  .footer__order {
    flex-direction: column;
    width: 18%;
    text-align: right;
    justify-content: flex-start;
  }

  .footer__basket-container {
    justify-content: flex-end;
  }

  .footer__callback-phone {
    font-size: 12px;
    line-height: 30px;
    padding-bottom: 5px;
  }
}

@media (min-width: $desktop) {
  .footer__logo {
    margin-left: 0;
  }

  .footer__callback-phone {
    font-size: 18px;
    line-height: 30px;
  }
}
