.gallery__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.gallery__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;

  &--1 {
    background-image: url("../img/gallery-1.jpg");
  }

  &--2 {
    background-image: url("../img/gallery-2.jpg");
  }

  &--3 {
    background-image: url("../img/gallery-3.jpg");
  }

  &--4 {
    background-image: url("../img/gallery-4.jpg");
  }
}

@media (min-width: $tablet) {
  .gallery__list {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .gallery__item {
    width: 50%;
  }
}
