.info__title {
  padding: 0;
  margin: 0;
  font-family: $decfont;
  font-size: 28px;
  line-height: 35px;
  font-weight: bold;
  text-transform: uppercase;
  color: $font-color-1;
  padding-bottom: 10px;
}

.info__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  color: $font-color-1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px;
  max-width: 250px;
}

.info__nav-item {
  width: 50%;
}

.info__nav-link {
  font-family: $font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $font-color-1;
  text-decoration: none;
}

@media (min-width: $big-mobile) {
  .info__nav-list {
    max-width: 340px;
  }

  .info__nav-item {
    width: 33.3%;
  }
}

@media (min-width: $tablet) {
  .info {
    width: 30%;
  }

  .info__nav-item {
    width: 50%;
  }
}
