.page {
  background-color: $color-3;
}

.page__title {
  padding: 0;
  margin: 0;
  padding-top: 30px;
  font-family: $decfont;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  color: $font-color-1;
  text-align: center;
  position: relative;
  z-index: 10;
}

.page__title-dec {
  color: $color-1;
}

.page__top {
  background-image: url("../img/bg-page-top.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 500px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #140707 0%, rgba(47, 0, 0, 0.34) 100%);
    z-index: 1;
  }
}

@media (min-width: $big-mobile) {
  .page__top {
    min-height: 400px;
  }

  .page__title {
    padding-top: 70px;
  }
}

@media (min-width: $tablet) {
  .page__title {
    padding-top: 50px;
  }
}

@media (min-width: $desktop) {
  .page__top {
    height: 280px;
  }

  .page__title {
    padding-top: 100px;
  }
}
