.phone {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-left: 60px;
  margin-right: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border: 0.5px solid $color-1;
    border-radius: 50%;
    left: 0;
    top: 4px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: 13px;
    top: 16px;
  }
}

.phone__text {
  padding: 0;
  margin: 0;
  font-family: $secondfont;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  color: $font-color-1;
  text-transform: lowercase;
}

.phone__link {
  font-family: $secondfont;
  font-size: 22px;
  line-height: 33px;
  font-weight: 300;
  color: $color-1;
  text-decoration: none;
  text-transform: uppercase;
}

