.product {
  background-color: $color-4;
  margin-bottom: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.product__wrap {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 25px;
  padding-bottom: 20px;
}

.product__name {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 18px;
  line-height: 20px;
  color: $color-5;
  padding-bottom: 3px;
}

.product__type {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 14px;
  line-height: 20px;
  color: $color-5;
  padding-bottom: 10px;
}

.product__cost-container {
  display: flex;
  justify-content: space-between;
}

.product__cost {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 24px;
  line-height: 28px;
  color: $color-5;
}

.product__link-basket {
  width: 33px;
  height: 33px;
  background-image: url("../img/icon-basket--dark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $big-mobile) {
  .product {
    width: 45%;
    max-width: 300px;
  }

  .product__img-container {
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }
}
