.protection__title {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: $main-spacing;
  color: $color-text-alt;
  text-align: center;
  padding-bottom: 20px;
  text-transform: uppercase;
  position: relative;
}

.protection__subtitle {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: $main-spacing;
  color: $color-text-alt;
  text-align: center;
  padding-bottom: 40px;
}

.protection__table {
  text-align: center;
  font-family: $font;
  border-spacing: 0 10px;
}

.protection__table-row {
  td {
    font-size: 13px;
    background-color: $color6;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $color-text-alt;

    &:nth-child(even) {
      background-color: #f3f3f3;
    }
  }

  &--subtitle {
    font-weight: 600;

    td {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      min-height: 57px;
    }
  }
}

.protection__table-column-title {
  background-color: $color10;
  height: 57px;
  border-right: 1px solid $white;

  &--weapon {
    width: 156px;
  }

  &--bullet {
    width: 175px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &--descriprion {
    width: 421px;
  }

  &--distance {
    width: 202px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.protection__name-title {
  padding: 0;
  margin: 0;
  display: block;
  color: $white;


  &--class {
    width: 272px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

td.name-weapon {
  font-size: 13px;
  padding-top: 40px;
  padding-left: 0px;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}


//Картинки оружия

.weapon__knife {
  background-image: url("../img/documents-icon-knife-1.png");
  background-repeat: no-repeat;
  background-position: center 10px;
}

td.weapon__hunter {
  background-image: url("../img/documents-icon-hunter-2.png");
  background-repeat: no-repeat;
  background-position: center 10px;
  padding-top: 50px;
  padding-bottom: 0;
}
