.question {
  padding-top: 30px;
  padding-bottom: 30px;
}

.question__title {
  font-family: $font;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: $color-text-alt;
  padding-bottom: 20px;
  text-align: center;
}

.question__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.question__item {
  margin-bottom: 30px;
  position: relative;
}

.question__btn-container {
  background-color: $color6;
}

.question__text-continaer {
  background-color: rgba($color: $color6, $alpha: 0.4);
  text-align: left;
}

.question__btn {
  width: 22px;
  height: 22px;
  border: 1px solid black;
  border: none;
  position: absolute;
  right: 10px;
  top: 17px;
  background-color: transparent;


  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background-color: $color7;
    top: 0;
    left: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: $color7;
    top: 10px;
    left: 0;
  }


  &--active {
    transform: rotate(45deg);
  }
}

.question__item-title {
  font-family: $font;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  color: $black;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 15px;
  background-color: $color6;
}

.question__text {
  font-family: $font;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: $black;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: none;

  &--active {
    display: block;
  }
}

@media (min-width: $tablet) {
  .question {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .question__title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;
  }

  .question__item {
    display: flex;
    justify-content: stretch;
  }

  .question__btn-container {
    padding-top: 27px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 27px;

  }

  .question__btn {
    position: relative;
    top: auto;
    right: auto;
    width: 26px;
    height: 26px;

    &::before {
      height: 26px;
      left: 12px;
    }

    &::after {
      width: 26px;
      top: 12px;
    }
  }

  .question__text-continaer {
    flex-grow: 1;
    padding-top: 28px;
  }

  .question__item-title {
    background-color: transparent;
    padding-top: 0;
    padding-left: 20px;
  }

  .question__text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 28px;
  }
}

@media (min-width: $desktop) {
  .question {
    padding-top: 82px;
    padding-bottom: 100px;
  }

  .question__title {
    padding-bottom: 42px;
  }

  .question__item-title {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .question__text {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}
