.request {
  padding-top: 30px;
  background-color: #394958;
  background-image: url("../img/bg-request.png"), url("../img/bg-request-1.png");
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 2;
  padding-bottom: 60px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1d1e1f;
    // background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.9));
    background-image: linear-gradient(to bottom, #2c3840, #242d33, #1c2327, #15191b, #0b0e0f);
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &--faq {
    background-image: url("../img/bg-faq-request.png");
    background-size: cover;

    &::before {
      content: none;
    }
  }
}

.request__title {
  font-family: $font;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: $main-spacing;
  color: $color-text;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 30px;
  position: relative;
  z-index: 2;
}

.request__form {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.request__input {
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 20px;
  flex-grow: 1;
  margin-bottom: 30px;
  width: 100%;


  &::placeholder {
    font-family: $font;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: $main-spacing;
    color: $color-text;
    opacity: 0.5;
  }
}

.request__textarea {
  background-color: transparent;
  border-color: $white;
  margin-bottom: 30px;
  min-height: 200px;
  padding: 12px 20px;

  &::placeholder {
    font-family: $font;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: $main-spacing;
    color: $color-text;
    opacity: 0.5;
  }
}

.request__submit {
  font-family: $font;
  font-size: 23.8px;
  line-height: 51px;
  font-weight: 400;
  letter-spacing: $main-spacing;
  color: $color-text-alt;
  background-color: $color1;
  position: relative;
  z-index: 2;
  border: none;
  cursor: pointer;
}

//Вернуться к каталогу внутрение страницы

.request__btn-continaer {
  text-align: center;
  margin-top: 30px;
}

.request__link-catalog {
  font-family: $font;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: $main-spacing;
  color: $color5;
  position: relative;
  z-index: 10;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: $tablet) {
  .request__title {
    font-size: 30px;
    text-align: center;
  }

  .request__form {
    margin-left: auto;
    margin-right: auto;
  }

  .request__link-catalog {
    font-size: 18px;
  }
}

@media (min-width: $desktop) {
  .request__form {
    width: 737px;
  }
}
