.sort-nav {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.sort-nav__text {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $font-color-2;
  padding-top: 5px;
  padding-right: 17px;
}

.sort-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  padding-right: 20px;
}

.sort-nav__item {
  padding-right: 15px;
}

.sort-nav__link {
  font-family: $font;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $font-color-2;

  &--active {
    text-decoration: underline;
  }

}

.sort-nav__select {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sorn-nav-select-link {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 14px;
  line-height: 14px;
  color: $font-color-2;
}
