.structure {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../img/bg-structure.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #142729;
}

.structure__title {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: $main-spacing;
  color: $color-text-alt;
  text-align: left;
  padding-bottom: 20px;
  text-transform: uppercase;
  position: relative;
  color: $white;

  &--armor {
    text-align: center;
  }
}

.structure__subtitle {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: $main-spacing;
  color: $color-text-alt;
  text-align: left;
  padding-bottom: 40px;
  color: $white;

  &--armor {
    text-align: center;
  }
}

.structure__list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 30px;
}

.structure__item {
  margin-bottom: 30px;
}

.structure__item-title {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: $main-spacing;
  color: $color1;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.structure__item-text {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: $main-spacing;
  color: $white;
}

.structure__img {
  width: 300px;
  z-index: 1;
}

@media (min-width: $tablet) {
  .structure {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
  }

  .structure__title {
    font-size: 30px;
    padding-bottom: 20px;
  }

  .structure__subtitle {
    font-size: 20px;
  }

  .structure-continaer {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .structure__img {
    width: 100%;

    &--armor {
      opacity: 0.9;
    }
  }

  .structure__item {
    position: absolute;
    width: 320px;

    &:nth-child(1) {
      left: 20px;
      top: 130px;
    }

    &:nth-child(2) {
      top: 130px;
      right: 0;
    }

    &:nth-child(3) {
      left: 20px;
      bottom: 50px;
    }

    &:nth-child(4) {
      top: 350px;
      right: 0;
      width: 250px;
    }

    &:nth-child(5) {
      bottom: 50px;
      right: 0;
    }
  }

  .structure__item-title {
    padding-bottom: 10px;
  }

  .structure__list--armor {
    .structure__item {
      width: 267px;

      &:nth-child(1) {
        top: 180px;
      }

      &:nth-child(2) {
        top: 180px;
      }

      &:nth-child(3) {
        top: 320px;
      }

      &:nth-child(4) {
        top: 320px;
      }

      &:nth-child(5) {
        right: auto;
        left: 20px;
        top: 460px;
      }

      &:nth-child(6) {
        top: 460px;
        left: auto;
        right: 0;
      }

      &:nth-child(7) {
        top: 620px;
        left: auto;
        right: 240px;
      }
    }
  }
}

@media (min-width: $desktop) {
  .structure {
    padding-top: 100px;
    padding-bottom: 0;
    min-height: 802px;

    &--armor {
      padding-bottom: 100px;
    }
  }

  .structure__title {
    font-size: 30px;
  }

  .structure__item {
    width: 330px;
  }

  .structure__item-title {
    padding-bottom: 20px;
  }

  .structure-continaer {
    width: 707px;
    margin-top: -100px;
  }

  .structure__item {

    &:nth-child(1) {
      left: 85px;
      top: 150px;

      &::before {
        content: "";
        position: absolute;
        width: 434px;
        height: 117px;
        background-image: url("../img/line-structure__item-1.png");
        background-repeat: no-repeat;
        top: 25px;
      }
    }

    &:nth-child(2) {
      top: 156px;
      right: 88px;

      &::before {
        left: -100px;
        top: 20px;
        content: "";
        position: absolute;
        width: 395px;
        height: 78px;
        background-image: url("../img/line-structure__item-2.png");
      }
    }

    &:nth-child(3) {
      left: 85px;
      bottom: 130px;

      &::before {
        content: "";
        position: absolute;
        width: 490px;
        height: 50px;
        background-image: url("../img/line-structure__item-3.png");
        background-repeat: no-repeat;
        top: -18px;
      }
    }

    &:nth-child(4) {
      right: 150px;
      top: 330px;


      &::before {
        content: "";
        position: absolute;
        width: 490px;
        height: 50px;
        background-image: url("../img/line-structure__item-4.png");
        background-repeat: no-repeat;
        left: -100px;
      }
    }

    &:nth-child(5) {
      right: 100px;
      bottom: 170px;


      &::before {
        content: "";
        position: absolute;
        width: 490px;
        height: 50px;
        background-image: url("../img/line-structure__item-5.png");
        background-repeat: no-repeat;
        left: -220px;
        bottom: -15px;
      }
    }
  }

  .structure-continaer--armor {
    width: 830px;
  }

  .structure__img--armor {
    opacity: 1;
  }

  .structure__list--armor {
    padding-top: 0;

    .structure__item {

      &:before {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
      }


      &:nth-child(1) {
        top: 170px;
        left: 95px;

        &::before {
          height: 500px;
          width: 550px;
          background-image: url("../img/line-structure__item-1-armor.png");
        }
      }

      &:nth-child(2) {
        width: 330px;
        top: 170px;
        right: 90px;

        &::before {
          height: 200px;
          width: 550px;
          background-image: url("../img/line-structure__item-2-armor.png");
          left: -260px;
          top: 25px;
        }
      }

      &:nth-child(3) {
        left: 95px;
        width: 330px;

        &::before {
          height: 300px;
          width: 550px;
          top: 25px;
          background-image: url("../img/line-structure__item-3-armor.png");
        }
      }


      &:nth-child(4) {
        top: 290px;
        width: 300px;
        right: 120px;

        &::before {
          background-image: url("../img/line-structure__item-4-armor.png");
          left: -280px;
        }
      }

      &:nth-child(5) {
        right: auto;
        left: 95px;

        &::before {
          top: 10px;
          left: auto;
          width: 650px;
          right: -384px;
          background-image: url("../img/line-structure__item-5-armor.png");
        }
      }

      &:nth-child(6) {
        width: 300px;
        top: 430px;
        right: 120px;


        &::before {
          width: 300px;
          height: 300px;
          top: 25px;
          left: -80px;
          background-image: url("../img/line-structure__item-6-armor.png");
        }
      }

      &:nth-child(7) {
        width: 300px;
        right: 120px;
        top: 600px;


        &::before {
          width: 600px;
          height: 300px;
          left: -320px;
          top: -25px;
          background-image: url("../img/line-structure__item-7-armor.png");
        }
      }


    }
  }
}
