@import "var.scss";
@import "font.scss";
@import "global.scss";
@import "wrapper.scss";

@import "header.scss";
@import "main.scss";
@import "footer.scss";

@import "address.scss";
@import "nav.scss";
@import "phone.scss";
@import "basket.scss";
@import "info.scss";
@import "connect.scss";
@import "main-content.scss";


// menu

@import "page.scss";
@import "sort-nav.scss";
@import "products.scss";
@import "product.scss";
@import "order.scss";
@import "contacts.scss";
@import "point.scss";
@import "tags.scss";


// restaurant
@import "block.scss";
@import "gallery.scss";
@import "cook.scss";
@import "wish.scss";
@import "category.scss";
