.tags {
  padding-top: 40px;
  padding-bottom: 30px;

  p {
    font-family: $font;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: $font-color-1;
    max-height: 200px;
    overflow: hidden;
  }
}

.tags__title {
  padding: 0;
  margin: 0;
  font-family: $decfont;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: $font-color-1;
}
