$font: "Open Sans", "Arial", "sans-serif";
$secondfont: "Oswald", "Arial", "sans-serif";
$decfont: "AmaticSC", "Arial", "sans-serif";

$white: #ffffff;
$black: #000000;

$font-color-1: $white;
$font-color-2: $black;


$mobile: 320px;
$big-mobile: 420px;
$tablet: 767px;
$desktop: 1024px;
$big-desktop: 1366px;
$large-desktop: 1920px;


$color-1: #feed00;
$color-2: #0a0e18;
$color-3: #2b2a2b;
$color-4: #f2c94c;
$color-5: #333333;
$color-6: #f2f2f2;
