.description {
  background-image: url("../img/bg-description-1.png");
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 30px;
  position: relative;
  background-color: #242424;
  z-index: 10;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 587px;
    background-image: url("../img/bg-products-helmets.png");
    z-index: 1;
    bottom: 0;
    opacity: 0.3;
  }
}

.description__block {
  padding-bottom: 40px;

  &--armor {
    border-bottom: 1px solid $color1;
  }

  &--helmets {
    padding-top: 40px;
  }
}

.description__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.description__title {
  font-family: $font;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: $main-spacing;
  color: $color-text;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
}

.description__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.description__item-text {
  font-family: $font;
  font-size: 14.56px;
  line-height: 1.2;
  font-weight: 300;
  color: $color-text;
  letter-spacing: $main-spacing;
  padding-left: 20px;
  padding-bottom: 3px;
  margin-bottom: 5px;
  position: relative;

  &--unic {
    color: $color1;
  }

  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: $color1;
    left: 0;
    top: 5px;
  }
}

.description__img-container {
  width: 245px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  img {
    width: 100%;
    height: auto;
  }
}

.description__btn {
  font-family: $font;
  font-size: 16px;
  line-height: 51px;
  font-weight: 300;
  letter-spacing: $main-spacing;
  color: $color1;
  text-decoration: none;
  border: 1px solid $color1;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}


@media (min-width: $tablet) {
  .description {
    &::after {
      height: 560px;
      background-size: cover;
    }
  }

  .description__title {
    font-size: 30px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 70px;
  }

  .description__block {
    position: relative;
    z-index: 10;
  }

  .description__list--armor {
    padding-bottom: 40px;

    .description__item-text {
      position: absolute;
      padding-left: 0;

      &::before {
        border-radius: 50%;
        width: 6px;
        height: 6px;
        left: auto;
      }

      &::after {
        content: "";
        position: absolute;
        width: 300px;
        height: 30px;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
      }

      &:nth-child(1) {
        top: -10px;
        right: 70px;

        &::before {
          top: 44px;
          right: 260px;
        }

        &::after {
          background-image: url("../img/bodyarm-line-1.png");
          left: -30px;
          top: 20px;
        }
      }

      &:nth-child(2) {
        top: 60px;
        right: 30px;

        &::before {
          top: 66px;
          right: 317px;
        }

        &::after {
          background-image: url("../img/bodyarm-line-2.png");
          left: -125px;
          top: 20px;
          width: 350px;
          height: 50px;
        }
      }

      &:nth-child(3) {
        top: 110px;
        right: 93px;

        &::before {
          top: 97px;
          right: 273px;
        }

        &::after {
          background-image: url("../img/bodyarm-line-3.png");
          left: -145px;
          top: 20px;
          width: 350px;
          height: 90px;
        }
      }

      &:nth-child(4) {
        top: 160px;
        right: 13px;

        &::before {
          top: 70px;
          right: 300px;
        }

        &::after {
          background-image: url("../img/bodyarm-line-4.png");
          left: -90px;
          top: 20px;
          width: 300px;
          height: 90px;
        }
      }

      &:nth-child(5) {
        top: 250px;
        right: 23px;

        &::before {
          top: -35px;
          right: 400px;
        }

        &::after {
          background-image: url("../img/bodyarm-line-5.png");
          left: -200px;
          top: -35px;
          width: 400px;
          height: 90px;
        }
      }

      &:nth-child(6) {
        top: 300px;
        right: 85px;

        &::before {
          top: -35px;
          right: 333px;
        }

        &::after {
          background-image: url("../img/bodyarm-line-6.png");
          left: -100px;
          top: -35px;
          width: 400px;
          height: 90px;
        }
      }
    }
  }

  .description__list--helmets {
    padding-bottom: 40px;

    .description__item-text {
      position: absolute;
      padding-left: 0;

      &::before {
        left: auto;
        width: 6px;
        height: 6px;
        border-radius: 50%;
      }

      &::after {
        content: "";
        position: absolute;
        width: 300px;
        height: 30px;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
      }

      &:nth-child(1) {
        top: -50px;
        left: 145px;

        &::before {
          top: 73px;
          left: 295px;
        }

        &::after {
          background-image: url("../img/helmets-line-1.png");
          top: 20px;
          height: 60px;
          left: 0;
        }
      }

      &:nth-child(2) {
        top: -5px;
        left: 140px;

        &::before {
          top: 77px;
          left: 189px;
        }

        &::after {
          background-image: url("../img/helmets-line-2.png");
          top: 20px;
          height: 60px;
          left: 0;
        }
      }

      &:nth-child(3) {
        top: 65px;
        left: 0;

        &::before {
          top: 77px;
          left: 189px;
        }

        &::after {
          background-image: url("../img/helmets-line-3.png");
          top: 20px;
          height: 60px;
          left: 0;
        }
      }

      &:nth-child(4) {
        top: 200px;
        left: 0;

        &::before {
          top: 5px;
          left: 295px;
        }

        &::after {
          background-image: url("../img/helmets-line-4.png");
          top: 5px;
          height: 60px;
          left: 0;
        }
      }

      &:nth-child(5) {
        top: 269px;
        left: -20px;
        width: 280px;

        &::before {
          top: -16px;
          left: 320px;
        }

        &::after {
          background-image: url("../img/helmets-line-5.png");
          top: -15px;
          height: 60px;
          left: 0;
          width: 400px;
        }
      }
    }
  }
}

@media (min-width: $desktop) {
  .description {
    padding-top: 0;
    border-bottom: 1px solid $color1;
    position: relative;

    &::after {
      content: none;
    }
  }

  .description__container {
    display: flex;
  }

  .description__item {
    &--armor {
      padding-right: 300px;
    }
  }

  .description__block--armor {
    padding-top: 80px;
    border-bottom: 0;
    position: relative;
    margin-left: auto;
    width: 600px;
  }

  .description__list {

    &--armor {
      position: absolute;
      width: 500px;
      top: -2px;
      left: 10px;
    }

    &--helmets {
      padding: 0;
      margin: 0;
    }
  }

  .description__block--helmets {
    padding-top: 464px;
    margin-right: auto;
    width: 570px;

    .description__title {
      text-align: right;
    }
  }

  .description__title {
    padding-left: 0;
    padding-right: 0;
    font-size: 36px;
    text-align: left;
  }

  .description__img-container--helmets {
    width: 325px;
    height: 266px;
    margin-right: 70px;
    margin-bottom: 60px;
  }


  .description__block-container {
    width: 100%;
    display: flex;

    &:nth-child(2) {

      &::before {
        content: "";
        position: absolute;
        width: 66%;
        height: 1040px;
        background-image: url("../img/helmets-bg-figure.png");
        background-size: cover;
        background-position-x: left;
        background-position-y: top;
        top: 0;
        right: 0;
        z-index: 1;
      }
    }
  }
}
