.main-content {
  background-image: url("../img/main-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  z-index: 10;
}


@media (min-width: $tablet) {
  .main-wrapper {
    width: 100vw;
    background-color: royalblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

@media (min-width: $desktop) {
  .main-wrapper {
    flex-direction: row;
  }

  .main-content {
    height: auto;
  }
}
