.order {
  width: 301px;
}

.order__table {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding-left: 10px;
}

.order__title {
  padding: 0;
  margin: 0;
  font-family: $decfont;
  font-size: 28px;
  line-height: 35px;
  font-weight: 600;
  color: $font-color-1;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.order__item {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: $font-color-1;
  display: flex;
  justify-content: space-between;
  padding-bottom: 11px;
}

.order__product-name {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: $font-color-1;
}

.order__count-wrap {
  display: flex;
  justify-content: space-between;
}

.order__count {
  padding: 0;
  margin: 0;
}

.order__cost {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  color: $font-color-1;
}

.order__name-cell {
  width: 160px;
}

.order__count-cell {
  width: 30px;
}

.order__cost-cell {
  width: 35px;
}

.order__btn-cell {
  display: flex;
  align-items: center;
}

.order__btn-del {
  height: 8px;
  width: 6px;
  background-image: url("../img/x.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  border: none;
  background-color: transparent;
}

.order__deliver {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: $font-color-1;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.order__sum-container {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 16px;
  padding-bottom: 45px;
}

.order__sum-text {
  padding: 0;
  margin: 0;
  font-family: $decfont;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: $font-color-1;
  text-transform: uppercase;
}

.order__value-sum {
  padding: 0;
  margin: 0;
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 500;
  color: $font-color-1;
}

.order__btn {
  display: block;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid $color-4;
  font-family: $font;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: $font-color-1;
  padding-left: 53px;
  padding-top: 10px;
  padding-bottom: 9px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
    background-image: url("../img/icon-basket.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 8px;
    right: 53px;
  }
}
